#[cfg(test)]
mod tests {
    use super::*;

    #[test]
    fn {{test_name}}() {
        // Arrange
        {{#each setup_lines}}
        {{this}}
        {{/each}}

        // Act
        {{#each action_lines}}
        {{this}}
        {{/each}}

        // Assert
        {{#each assertion_lines}}
        {{this}}
        {{/each}}
    }
}